[submodule "dependencies"]
	path = dependencies
	url = https://github.com/praaline/praaline-dependencies.git
[submodule "praaline-core"]
	path = praaline-core
	url = https://github.com/praaline/praaline-core.git
