language: cpp

matrix:
 include:
  - os: linux
    dist: trusty
    sudo: required
    compiler: gcc
    env:
     - QT_BASE=59
  - os: osx
    compiler: clang
    env:
     - QT_BASE=59

cache: packages

addons:
  apt:
    packages:
      - libbz2-dev
      - libfftw3-dev
      - libfishsound1-dev
      - libid3tag0-dev
      - liblo-dev
      - liblrdf0-dev
      - libmad0-dev
      - liboggz2-dev
      - libpulse-dev
      - libsamplerate-dev
      - libsndfile-dev
      - libsord-dev
      - libxml2-utils
      - portaudio19-dev
      - raptor-utils
      - librubberband-dev
      - mlton
      - vamp-plugin-sdk
      - swig

before_install:
  - if [[ "$QT_BASE" = "59" && "$TRAVIS_OS_NAME" = "linux" ]]; then
      sudo add-apt-repository ppa:beineri/opt-qt591-trusty -y;
    fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y;
      sudo apt-get update -qq;
    else
      brew update;
      brew install swig;
    fi
  # Install PocketSphinx
  - wget https://sourceforge.net/projects/cmusphinx/files/sphinxbase/5prealpha/sphinxbase-5prealpha.tar.gz
  - tar -xzvf sphinxbase-5prealpha.tar.gz && mv sphinxbase-5prealpha sphinxbase
  - cd sphinxbase && ./configure && make && sudo make install && cd ..
  - wget https://sourceforge.net/projects/cmusphinx/files/pocketsphinx/5prealpha/pocketsphinx-5prealpha.tar.gz
  - tar -xzvf pocketsphinx-5prealpha.tar.gz && mv pocketsphinx-5prealpha pocketsphinx
  - cd pocketsphinx && ./configure && make clean all && sudo make install && cd ..
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib

install:
  # Needed for a C++14 compiler
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      sudo apt-get install -qq g++-5;
      sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 90;
    fi
  # Install Qt
  - if [ "$QT_BASE" = "59" ]; then
      if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        sudo apt-get install -qq qt59base ;
        sudo apt-get install -qq qt59charts-no-lgpl ;
        sudo apt-get install -qq qt59imageformats ;
        sudo apt-get install -qq qt59multimedia ;
        sudo apt-get install -qq qt59svg ;
        sudo apt-get install -qq qt59webengine ;
        sudo apt-get install -qq qt59tools ;
        source /opt/qt59/bin/qt59-env.sh;
      else
        brew install qt5;
        brew link --force qt5;
        export HOMEBREW_QT5_VERSION=$(brew list --versions qt5 | rev | cut -d' ' -f1 | rev);
        ln -s /usr/local/Cellar/qt5/$HOMEBREW_QT5_VERSION/mkspecs /usr/local/mkspecs;
      fi
    fi
  # Install vamp-host-sdk in OSX
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      cd dependency-builds/sv/src/vamp-plugin-sdk-2.5 ;
      chmod +x configure && ./configure --disable-programs ;
      make -f build/Makefile.osx sdk ;
      ls -R ;
      cd ../../../.. ;
    fi

script:
  # Check versions
  - g++ -v;
  - qmake -v;
  # Create build directory
  - mkdir ./build && cd ./build
  # Build Praaline
  - mkdir -p pncore/ && cd pncore/ && qmake ../../pncore/pncore.pro CONFIG+=release && make && cd ..
  - mkdir -p pnlib/ && cd pnlib/ && qmake ../../pnlib/pnlib.pro CONFIG+=release && make && cd ..
  - mkdir -p pngui/ && cd pngui/ && qmake ../../pngui/pngui.pro CONFIG+=release && make && cd ..
  - mkdir -p dataquay/ && cd dataquay/ && qmake ../../dataquay/libdataquay.pro CONFIG+=release && make && cd ..
  - mkdir -p svcore/ && cd svcore/ && qmake ../../svcore/svcore.pro CONFIG+=release && make && cd ..
  - mkdir -p svgui/ && cd svgui/ && qmake ../../svgui/svgui.pro CONFIG+=release && make && cd ..
  - mkdir -p svapp/ && cd svapp/ && qmake ../../svapp/svapp.pro CONFIG+=release && make && cd ..
  - mkdir -p libs/qt-solutions/qtpropertybrowser/ && cd libs/qt-solutions/qtpropertybrowser/ && qmake ../../../../libs/qt-solutions/qtpropertybrowser/qtpropertybrowser.pro CONFIG+=release && make && cd ../../..
  - mkdir -p libs/qtilities/src/ && cd libs/qtilities/src/ && qmake ../../../../libs/qtilities/src/Qtilities.pro CONFIG+=release && make && cd ../../..
  - mkdir -p libs/qscintilla/Qt4Qt5/ && cd libs/qscintilla/Qt4Qt5/ && qmake ../../../../libs/qscintilla/Qt4Qt5/qscintilla.pro CONFIG+=release && make && cd ../../..
  - mkdir -p libs/qcustomplot/ && cd libs/qcustomplot/ && qmake ../../../libs/qcustomplot/qcustomplot.pro CONFIG+=release && make && cd ../..
  - mkdir -p app/ && cd app/ && qmake ../../app/app.pro CONFIG+=release && make && cd ..
  - ls ./app

notifications:
  email: false

